{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="container rounded">
    <div class="card-group">
        <div class="card">
            <img src="/images/defualt_person.png" class="card-img-top" />
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About</h5>
                <p class="card-text">This is a whole lot of information about the person. This will talk all about them and what they like.
                    I'm sure this will also entail passions and anything else they want to put in here. I am currently going to keep  this
                    breif as this is just an example.</p>
                <h5 class="card-title">Projects</h5>
                <p class="card-text">
                    Here is an example of adding other titles for things they would want to add to the about section.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}